<section class="row">

    <div class="panel panel-default" style="margin-top:10px;">
        <div class="panel-heading">
            <h4 style="margin:0;padding:0;">Amazon Item Lookup by UPC</h4>
        </div>
        <div class="panel-body">
            Debug mode:
            <pre style="margin-bottom:20px;" class="col-sm-12">
                <p ng-repeat="(key, value) in codePrint"><b>{{key}}</b>: <br>{{value}}</p>
            </pre>


            <section class="col-lg-12">
                <label for="resultForm">Results</label>
                <form id="csvForm">
                    <div class="form-group">
                        <textarea placeholder="CSV list of item UPCs" ng-model="results" class="form-control"
                          style="margin-bottom:10px;" rows="10"></textarea>
                        <button type="submit" ng-click="submit()" class="btn btn-primary btn-default">Search</button>
                    </div>
                </form>

                <button ng-click="clicked()" class="btn btn-default">Show Results</button>
                <a href="" ng-click="download()"  class="btn btn-default">Download Results</a>

            </section>

        </div>
    </div>

</section>