<section class="row">

    <div class="panel panel-default" style="margin-top:10px;">
        <div class="panel-heading">
            <h4 style="margin:0;padding:0;">AWS Item Lookup</h4>
        </div>
        <div class="panel-body">
            <div class="col-sm-12" style="margin-bottom: 10px;">
                <h4>Upload</h4>
                <div class="form-group">
                    <div class="form-control" file-input="lookupCtrl.file" on-change="lookupCtrl.fileChanged()"></div>
                    <p class="help-block">Upload UPCs in CSV format.</p>

                    <div ng-switch="lookupCtrl.fileStatus">
                        <button ng-switch-when="1" class="btn btn-sm btn-success">Upload Success</button>
                        <button ng-switch-when="-1" class="btn btn-sm btn-error">Upload Fail</button>
                        <button ng-switch-default class="btn btn-sm btn-primary" ng-click="lookupCtrl.upload()"
                                ng-disabled="!lookupCtrl.file">Upload
                        </button>
                        <button class="btn btn-sm btn-default" ng-disabled="!lookupCtrl.file"
                                ng-click="lookupCtrl.clearUpload()">Clear
                        </button>
                    </div>
                </div>
            </div>

            <section class="col-sm-12 results-form">
                <h4>Results</h4>
                <form id="csvForm">
                    <div class="form-group">
                        <textarea readonly ng-model="lookupCtrl.results" class="form-control" rows="10">
                        </textarea>
                        <button type="submit" ng-click="lookupCtrl.submit()" class="btn btn-primary btn-default">
                            Submit
                        </button>
                        <a href="" ng-click="lookupCtrl.download()" class="btn btn-default">Download Results</a>
                    </div>
                </form>
            </section>

            <div class="col-sm-12">
                <div ng-include="'client/status-alerts.ng.html'"></div>
            </div>

        </div>
    </div>

</section>