<section class="row">

    <div class="panel panel-default" style="margin-top:10px;">
        <div class="panel-heading">
            <h4 style="margin:0;padding:0;">{{title}}</h4>
        </div>
        <div class="panel-body">
            Debug mode:
            <pre style="margin-bottom:20px;" class="col-sm-12">
                <p ng-repeat="item in items"><strong>Item:</strong> {{item}}
                </p>---------------------------------------
                <p ng-repeat="(key, value) in codePrint"><b>{{key}}</b>: <br>{{value}}</p>
            </pre>


            <section class="col-lg-6 col-md-6 col-sm-6">
                <label for="csvForm">Input UPCs</label>

                <form id="csvForm">
                    <div class="form-group">
                <textarea placeholder="CSV list of item UPCs" ng-model="csvInput" class="form-control"
                          style="margin-bottom:10px;" rows="10"></textarea>
                        <button type="submit" ng-click="submit()" class="btn btn-default">Search</button>
                    </div>
                </form>

                <button ng-click="clicked()" class="btn btn-default">Click me</button>
            </section>


            <section class="col-lg-6 col-md-6 col-sm-6">
                <label for="resultForm">Results</label>

                <form id="resultForm">
                    <div class="form-group">
                <textarea placeholder="Items found will be displayed here" ng-model="results" class="form-control"
                          rows="20"></textarea>
                    </div>
                </form>
            </section>
        </div>
    </div>

</section>