<section class="status-alerts" ng-controller="StatusAlertsCtrl as statusCtrl" >
    <!--<div ng-switch-when="WARNING" class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&#215;</button>
        <h4>Warning!</h4>

        <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo
            cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
    </div>-->

    <div ng-if="statusCtrl.errorMessages.length" class="alert alert-dismissible alert-danger">
        <h4>Error</h4>

        <button type="button" class="close" data-dismiss="alert">&#215;</button>
        <ul>
            <li class="message" ng-repeat="obj in statusCtrl.errorMessages">{{obj.formattedMessage}}</li>
        </ul>
    </div>

    <div ng-if="statusCtrl.successMessages.length" class="alert alert-dismissible alert-success">
        <h4>Success</h4>

        <button type="button" class="close" data-dismiss="alert">&#215;</button>
        <ul>
            <li class="message" ng-repeat="obj in statusCtrl.successMessages">{{obj.formattedMessage}}</li>
        </ul>
    </div>

    <div ng-if="statusCtrl.infoMessages.length" class="alert alert-dismissible alert-info">
        <h4>Info</h4>

        <button type="button" class="close" data-dismiss="alert">&#215;</button>
        <ul>
            <li class="message" ng-repeat="obj in statusCtrl.infoMessages">{{obj.formattedMessage}}</li>
        </ul>
    </div>
</section>