<section class="row" ng-controller="LookupController as lookupCtrl">

    <div class="panel panel-default" style="margin-top:10px;">
        <div class="panel-heading">
            <h4 style="margin:0;padding:0;">AWS Item Lookup</h4>
        </div>
        <div class="panel-body">
            <div class="col-sm-12" style="margin-bottom: 10px;">
                <h4>Upload</h4>

                <div class="form-group">
                    <div class="form-control" file-input="lookupCtrl.file" on-change="lookupCtrl.fileChanged()"></div>
                    <p class="help-block">Upload UPCs in CSV format. No headers.</p>
                    <button class="btn btn-primary" ng-click="lookupCtrl.upload()"
                            ng-disabled="!lookupCtrl.file">Upload
                    </button>
                    <button class="btn btn-default" ng-disabled="!lookupCtrl.file"
                            ng-click="lookupCtrl.clearClicked()">Clear
                    </button>
                </div>
            </div>

            <div class="col-sm-12" ng-form="lookupCtrl.awsLookupForm">
                <h4>Lookup</h4>

                <div class="form-group col-sm-12">
                    <label for="awsUpcList">UPCs: </label>
                    <input id="awsUpcList" type="text" class="form-control" readonly
                           ng-bind="lookupCtrl.idsQueue"/>
                </div>

                <div class="form-group col-sm-4">
                    <label for="awsAssocTag">Associate Tag: </label>
                    <input id="awsAssocTag" type="text" placeholder="1234-5678-9012" class="form-control"
                           required ng-model="lookupCtrl.account.associateTag"/>
                </div>

                <div class="form-group col-sm-4">
                    <label for="awsId">Access Key ID: </label>
                    <input id="awsId" type="text" class="form-control"
                           required ng-model="lookupCtrl.account.id"/>
                </div>
                <div class="form-group col-sm-4">
                    <label for="awsSecretKey">Secret Access Key: </label>
                    <input id="awsSecretKey" type="password" class="form-control"
                           required ng-model="lookupCtrl.account.secretKey"/>
                </div>

                <div class="col-sm-12">
                    <button ng-disabled="lookupCtrl.disableSubmit" type="submit" ng-click="lookupCtrl.submit()"
                            class="btn btn-primary btn-default">Submit
                    </button>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <h4>Results</h4>
                    <textarea readonly name="downloadableResults" ng-bind="lookupCtrl.results"
                              class="csv-results form-control" rows="10"></textarea>
                    <a href="" ng-disabled="!lookupCtrl.results" ng-click="lookupCtrl.download()"
                       class="btn btn-default">Download</a>
                </div>
            </div>

            <section class="col-sm-12 results-form">
                <div ng-include="'client/status-alerts/status-alerts.ng.html'"></div>
            </section>


        </div>
    </div>

</section>